@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Myriad Pro";
  src: url("/fonts/MyriadPro/MyriadPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("/fonts/MyriadPro/MyriadPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

.myriadpro {
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
}

.myriadpro_regular {
  font-family: "Myriad Pro", sans-serif;
  font-weight: normal;
}

.payment {
  background-image: url("../../public/bg/payment.png");
}

input::placeholder {
  color: black; /* Set the desired placeholder color */
  opacity: 1; /* Optional: control the opacity of the placeholder */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Remove default appearance */
  margin: 0; /* Remove margin */
}

@media (min-width: 640px) {
  .home {
    background-image: url("/bg/home.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
  }
}
@media (max-width: 640px) {
  .home {
    background-image: url("/bg/home_m.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
